<?xml version="1.0" encoding="cp1251"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>cookbook</servlet-name>
        <servlet-class>ru.itpark.servlet.CookServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <request-character-encoding>cp1251</request-character-encoding>
        <response-character-encoding>cp1251</response-character-encoding>
        <multipart-config>
            <max-file-size>10240</max-file-size>
            <max-request-size>10240</max-request-size>
        </multipart-config>

    </servlet>

    <servlet-mapping>
        <servlet-name>cookbook</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>ru.itpark.servlet.ImageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

</web-app>